body {
	background-color: #f29479;
	font-family: Roboto, sans-serif;
}

.header {
	padding: 64px 14%;
	text-align: center;
	background-color: #F4F1DE;
}

.index {
	background-color: #0267C1;
	padding: 0 14%;
	display: flex;
	justify-content: center;
}

.index-button {
	padding: 12px 18px;
	list-style: none;
}

.index-button > a {
	padding: 12px 6px;
	color: #EFA8B8;
	font-weight: 600;
}

h1, h2, h3, p{
	color: #1368AA;
}

h1 {
	font-size: 48px;
	line-height: 92px;
}

#bio {
	padding: 24px 14%;
	display: flex;
}

.avatar {
	object-fit: cover;
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.bio-description {
	background-color: #F4F1DE;
	padding: 18px 36px;
	border-radius: 8px;
	border: 3px solid #0267C1;
	margin: auto auto auto 36px;
	line-height: 28px;
}

#skills {
	background-color: #F4F1DE;
	padding: 16px 32px;
	margin: 24px 14%;
	border: 3px solid #0267C1;
	border-radius: 8px;
}

h3 {
	font-size: 22px;
	font-weight: 600;
	margin-bottom: 12px;
}

ul {
	list-style: inside;
	color: #BF0603;
	font-weight: 600;
	line-height: 32px;
	font-size: 18px;
}
