body {
	font-family: Roboto, sans-serif;
}

.header {
	padding: 64px 14%;
	text-align: center;
	background-color: #F4F1DE;
}

.index {
	background-color: #0267C1;
	padding: 0 14%;
	display: flex;
	justify-content: center;
}

.index-button {
	padding: 12px 18px;
}

.index-button > a {
	padding: 12px 6px;
	color: #EFA8B8;
	font-weight: 600;
}

h1, h2, h3, p{
	color: #1368AA;
}

h1 {
	font-size: 48px;
	line-height: 92px;
}

